<script type="text/jsx">
  function messagesAtTime() {
    // react code goes here
    /** @jsx React.DOM */
    var MessagesTimeGoogleLineChart = React.createClass({
      mixins: [SetIntervalMixin], // Use the mixin
      render: function() {
        return (
          <div id='messages-time-line-chart' style={{ height: 400 }}></div>
        );
      },
      componentDidMount: function() {
        this.drawCharts();
        // call a method on the mixin to update the chart after given time
        this.setInterval(this.drawCharts, FIVE_MINUTES);
      },
      drawCharts: function() {
        // show loading spinner on process start
        $('#loading-spinner').removeClass('hidden');
        var options = {
          colors: CHART_COLORS,
          legend: { position: 'none' },
          vAxis: {
            viewWindow: {
              min: 1
            }
          },
          hAxis: {
            viewWindow: {
              min: [0, 0],
              max: [23, 59]
            }
          },
          format: 'hh:mm',
          curveType: 'function',
          animation: { startup: true, duration: 800 }
        };
        var chart = new google.visualization.LineChart(
          document.getElementById('messages-time-line-chart')
        );

        var ajax_options = {
          dataType: 'json',
          url: '/dashboard/<%= @campaign.id %>/messages_at_time'
        };
        $.ajax(ajax_options).done(function (data) {
          var data_array = $.parseJSON(data.responseText);
          var data = google.visualization.arrayToDataTable(data_array);
          chart.draw(data, options);
          // hide loading spinner on process finish
          $('#loading-spinner').addClass('hidden');
        });
      }
    });

    React.render(
      <MessagesTimeGoogleLineChart/>,
      document.getElementById('messages-at-time')
    );
  }
</script>
