<script type="text/jsx">
  function topTags() {
    // react code goes here
    /** @jsx React.DOM */
    var GooglePieChart = React.createClass({
      mixins: [SetIntervalMixin], // Use the mixin
      render: function() {
        return (
          <div id='pie-chart' style={{ height: 400 }}></div>
        );
      },
      componentDidMount: function() {
        this.drawCharts();
        <% if @campaign.c_status == 1 %>
          // call a method on the mixin to update the chart after given time
          this.setInterval(this.drawCharts, FIVE_MINUTES);
        <% end %>
      },
      drawCharts: function() {
        // show loading spinner on process start
        $('#loading-spinner').removeClass('hidden');
        var options = {
          colors: CHART_COLORS,
          pieHole: 0.3
        };
        var chart = new google.visualization.PieChart(
          document.getElementById('pie-chart')
        );

        var ajax_options = {
          dataType: 'json',
          data: { 'top_tags_count': 10 },
          url: '/dashboard/<%= @campaign.id %>/top_tags'
        };
        $.ajax(ajax_options).done(function (data) {
          var data = google.visualization.arrayToDataTable($.parseJSON(data.responseText));
          chart.draw(data, options);
          // hide loading spinner on process finish
          $('#loading-spinner').addClass('hidden');
        });
      }
    });

    React.render(
      <GooglePieChart/>,
      document.getElementById('top-tags')
    );
  }
</script>
