<script type="text/jsx">
  function wordTree() {
    // react code goes here
    /** @jsx React.DOM */
    var WordTree = React.createClass({
      mixins: [SetIntervalMixin], // Use the mixin
      render: function() {
        return (
          <div id='word-tree-chart' style={{ height: 400 }}><span>Bitte warten...</span></div>
        );
      },
      componentDidMount: function() {
        this.drawCharts();
        // call a method on the mixin to update the chart after given time
        this.setInterval(this.drawCharts, FIVE_MINUTES);
      },
      drawCharts: function() {
        <% campaign_tags = @campaign.tags %>
        <% if campaign_tags.present? %>
          <% top_campaign_tag = campaign_tags.where(t_count: campaign_tags.maximum(:t_count)).first %>
          var wordForTree = '<%= top_campaign_tag.t_name %>';
          // TODO: wort auswählbar aus top 10 tags
          var options = {
            wordtree: {
              format: 'implicit',
              word: wordForTree,
              type: 'double'
            }
          };
          var chart = new google.visualization.WordTree(
            document.getElementById('word-tree-chart')
          );

          var ajax_options = {
            dataType: 'json',
            url: '/dashboard/<%= @campaign.id %>/word_tree',
          };
          $.ajax(ajax_options).done(function (data) {
            var data = google.visualization.arrayToDataTable($.parseJSON(data.responseText));
            chart.draw(data, options);
          });
        <% end %>
      }
    });

    React.render(
      <WordTree/>,
      document.getElementById('word-tree')
    );
  }
</script>
