<section class="content-header">
  <h1>
    Beitrag erstellen
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-th"></i> Alle Kampagnen</a></li>
    <li><%= link_to "#{campaign_name(@campaign)} Dashboard", campaign_path(@campaign) %></li>
    <li class="active"><a href="#">Beitrag erstellen</a></li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <%= render "/messages/partials/form" %>
    </div>
  </div>
</section>
