<div id="message-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" data-dismiss="modal" class="close" type="button">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Beitrag erstellen</h4>
      </div>
      <div class="modal-body">
        <p>Inhalt</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success pull-left" type="button">Speichern</button>
        <button data-dismiss="modal" class="btn btn-default pull-left" type="button">Schließen</button>
      </div>
    </div>
  </div>
</div>
