<section class="content-header">
  <h1>
    <%= @campaign.c_name %>
    <small>Dashboard</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-th"></i> Alle Kampagnen</a></li>
    <li class="active"><a href="#"><%= @campaign.c_name %> Dashboard</a></li>
  </ol>
</section>
