<section class="content-header">
  <h1>
    Kampagne bearbeiten
    <small><%= @campaign.c_name %></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-th"></i> Alle Kampagnen</a></li>
    <li class="active"><a href="#">Kampagne bearbeiten</a></li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <%= render 'form' %>
  </div>
</section>
