<section class="content-header">
  <h1>
    Kampagne erstellen
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-th"></i> Kampagnen</a></li>
    <li class="active"><a href="#">Kampagne erstellen</a></li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <%= render "/campaigns/partials/form" %>
    </div>
  </div>
</section>
