body { background-color: #ecf0f5; }

.skin-black .main-header > .navbar .pull-left .navbar-nav > li > a {
  border-left: none;
  border-right: 1px solid #eee;
}

.sidebar-menu .active-campaigns { margin-right: 30px !important; }
.sidebar-menu .fa.ion-ios-list-outline { font-size: 20px; }

.small-box {
  &.bg-gray { color: #f9f9f9; }

  h3 {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.datepicker table tr td.active { border-top: none; }

#flash-msg .alert h4 { margin-bottom: 0; }

a.info-box {
  color: #333;

  &:hover { color: #999; }
}

.nav-tabs-custom {
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  background: transparent;

  > .nav-tabs {
    border-bottom: 5px solid #fff;
    margin: 0 0 10px;

    > li.active > a,
    > li.active:hover > a {
      color: #333;
    }

    > li > a {
      font-size: 16px;

      &:hover {
        background-color: #fff;
        color: #666;
      }
    }
  }

  .tab-content {
    padding: 0;
    border: none;
    background: transparent;
  }
}

 .bg-opacity { background: rgba(0, 0, 0, 0.1) !important; }
