body { background-color: #ecf0f5; }

.skin-black .main-header > .navbar .pull-left .navbar-nav > li > a {
  border-left: none;
  border-right: 1px solid #eee;
}

.sidebar-menu .active-campaigns { margin-right: 30px !important; }

.small-box {
  &.bg-gray {
    color: #f9f9f9;
  }

  h3 {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.datepicker table tr td.active {
  border-top: none;
}

#flash-msg .alert h4 {
  margin-bottom: 0;
}

a.info-box {
  color: #333;

  &:hover {
    color: #999;
  }
}
