#word-cloud > div {
  height: 400px;
  width: 100%;
  padding: 20px;

  > canvas {
    border: 1px solid #fff;
    border-radius: 30%;
  }
}

#word-tree-chart > span {
  padding: 20px;
  display: block;
}

#top-authors svg g g g text { cursor: pointer; }
