#word-cloud > div {
  height: 400px;
  width: 100%;
  padding: 20px;

  > canvas {
    border: 1px solid #fff;
    border-radius: 30%;
  }
}

#word-tree-chart > span {
  padding: 20px;
  display: block;
}

#top-authors svg g g g text { cursor: pointer; }

#loading-spinner {
  a {
    background: #222d32;
    cursor: default;
  }

  i { color: #fff; }
}

div[id^=google-visualization-errors] > span {
  padding: 20px !important;
  background: #fff !important;
  font-size: 14px !important;
  color: $red !important;
  display: block !important;
}

.word-picker {
  width: auto;
  margin-left: 10px;
}
