<section class="content-header">
  <h1>
    Kategorie bearbeiten
    <small><%= @category.cat_name %></small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <%= link_to categories_path do %>
        <i class="fa fa-fa-folder-o"></i> Kategorien
      <% end %>
    </li>
    <li class="active"><a href="#">Kategorie bearbeiten</a></li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <%= render "/categories/partials/form" %>
    </div>
  </div>
</section>

<% content_for :page_script do %>
  <script type="text/jsx">
    // react code goes here
    /** @jsx React.DOM */
    var HelpRenderer = React.createClass({
      displayName: 'HelpRenderer',
      render: function() {
        return (
          <div className="help-comment">
            <p>
              Bearbeite den Namen, um eine Kategorie anzupassen. Bei Bedarf kann die zusätzliche
              Beschreibung ebenfalls angepasst werden.
            </p>
            <p>
              Wähle <a href="#" className="btn btn-success">Speichern</a><br/>
              um den Vorgang abzuschließen, oder &nbsp;
              <a href="#" className="btn btn-default">Zurück</a><br/>
              um zur Übersicht zurückzukehren.
            </p>
          </div>
        );
      }
    });

    React.render(
      <HelpRenderer/>,
      document.getElementById('help-container')
    );
  </script>
<% end %>
