<meta charset="utf-8">
<title>SEMON</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
      name="viewport">

<%= stylesheet_link_tag "application" %>
<%= csrf_meta_tags %>

<link rel="icon" type="image/png" href="/favicon.png">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<!--[if IE]>
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
<![endif]-->

<%# / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries %>
<!--[if lt IE 9]
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
-->
