<aside class="control-sidebar control-sidebar-dark">
  <%# create the tabs %>
  <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
    <li class="active">
      <a href="#control-sidebar-first-options-tab" data-toggle="tab">
        <i class="fa fa-question"></i>
      </a>
    </li>
    <li>
      <a href="#control-sidebar-second-options-tab" data-toggle="tab">
        <i class="fa fa-cloud-download"></i>
      </a>
    </li>
  </ul>
  <%# tab panes %>
  <div class="tab-content">
    <%# first tab content %>
    <div id="control-sidebar-first-options-tab" class="tab-pane active">
      <h3 class="control-sidebar-heading">Hilfe zur Seite</h3>

    </div>
    <%# second tab content %>
    <div id="control-sidebar-second-options-tab" class="tab-pane">
      <h3 class="control-sidebar-heading">Benutzerhandbuch</h3>
      <p>
        Möchtest Du eine Dokumentation über die Benutzung der gesamten Webanwendung?
        Dann lade dir folgende PDF-Datei herunter.
      </p>
      <ul class="control-sidebar-menu">
        <li>
          <a href="#">
            <i class="menu-icon fa fa-file-pdf-o bg-light-blue"></i>
            <div class="menu-info">
              <h4 class="control-sidebar-subheading">PDF-Datei</h4>
              <p>herunterladen</p>
            </div>
          </a>
        </li>
      </ul>
      <p>
        <small>
          Zum Öffnen der Datei wird ein PDF-Viewer wie z. B. <%= link_to "Foxit Reader",
            "http://www.foxitsoftware.com/german/downloads/",
            target: "_blank" %> benötigt.
        </small>
      </p>
    </div>
  </div>
</aside>
<div class="control-sidebar-bg" style="position: fixed; height: auto;"></div>
